/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

body {
    background-color: rgb(233, 241, 241);
    margin: 0;
}

